@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&display=swap");

@import "tailwindcss";

root {
  /* Backgrounds */
  --background: #02010f;
  --background-2: #0e0a2b;
  --background-3: #161131;

  /* Surfaces */
  --card: #0e0a2b;
  --border: #22194a;

  /* Brand */
  --accent: #c13a82;
  --accent-hover: #a92f71;

  /* Secondary */
  --accent-2: #8c63c9;
  --accent-2-hover: #8c63c9;

  /* Text */
  --foreground: #d6d0dc;
  --muted: #7b7497;
}

body {
  background: var(--background);
  color: var(--foreground);
}
